# Copy this file and include your actual environment variables
# TYPEORM / DB variables 
DB_HOST = 'localhost'
DB_USERNAME = 'username'
DB_PASSWORD = 'password'
DB_NAME = 'dbname'
DB_PORT = 5432
TYPEORM_SYNCHRONIZE = false # should be true in dev, false in production
TYPEORM_LOGGING = true
BCGEOCODER_API_KEY_PID = 'apikey'
BCGEOCODER_TEST_API_URL_PID = 'https://geocodertst.api.gov.bc.ca/parcels/pids/'
